#all
{
    width: 1000px;
    margin: auto;
    border: black solid 2px;
}

#header
{
    border: black solid 2px;
    height: 100px;
    background-color: chocolate;
}

#sidebar
{
    width: 100px;
    float: left;
    height: 300px;
    border: black solid 2px;
}

#main
{
    
    min-height: 300px;
    border: black solid 2px;
    margin-left: 110px;
}

#footer
{
    height: 50px;
    clear: left;
    border: black solid 2px;
}